@(message: String,mEmployees: MEmployees)

@main("Edit Employees") {

<form method="post" class="panel" role="form" action="@routes.CEmployees.EditEmployee(mEmployees.aid)">
    <div class="wrapper">

        <div class="page-head">
            <h3 class="m-b-less">
                Edit Employees
            </h3>
            <br>


            </div>
        <br>
        <br>

        <div class="form-group">
            <label class="col-lg-3 col-md-4 control-label">FullName</label>

            <div class="col-lg-9 col-md-8">
                <input type="text" class=" form-control" rows="1" name="FullName" value="@mEmployees.FullName" ></input>
            </div>
        </div>
        <br>
        <br>


            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Email</label>

                <div class="col-lg-9 col-md-8">
                    <input type="text" class=" form-control" rows="1" name="Email" value="@mEmployees.Email" ></input>
                </div>
            </div>

                <!--<div class="form-group">
                    <label class="col-lg-3 col-md-4 control-label">Password</label>
                    <div class="col-lg-9 col-md-8">
                        <input type="text" class=" form-control" rows="1" name="Email" value="@mEmployees.Email" ></input>
                    </div>
                </div>-->
        <br>
        <br>



            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">IdNumber</label>

                <div class="col-lg-9 col-md-8">
                    <input type="text" class=" form-control" rows="1" name="IdNumber" value="@mEmployees.IdNumber" ></input>
                </div>
            </div>
        <br>
        <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Department</label>

                <div class="col-lg-9 col-md-8">
                    <input type="text" class=" form-control" rows="1" name="Department" value="@mEmployees.Department" ></input>
                </div>
            </div>
        <br>
        <br>
                <div class="form-group">
                    <label class="col-lg-3 col-md-4 control-label">EmploymentNumber</label>

                    <div class="col-lg-9 col-md-8">
                        <input type="text" class=" form-control" rows="1" name="EmploymentNumber" value="@mEmployees.EmploymentNumber" ></input>
                    </div>
                </div>
        <br>
        <br>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 control-label">PhoneNumber</label>

                        <div class="col-lg-9 col-md-8">
                            <input type="text" class=" form-control" rows="1" name="PhoneNumber" value="@mEmployees.PhoneNumber" ></input>
                        </div>
                    </div>
                    <br>
                    <br>
                    <p class="submit"><input  class="btn btn-primary m-b-10" type="submit" name="commit" value="Edit Employee">
                        <a class="btn btn-danger m-b-10" href="@routes.CEmployees.RenderViewEmployee()">Cancel</a></p>
                </div>
            </div>

</form>
}
