
@(message: String)


@main("View Employees") {
<script type="text/javascript">
          $(document).ready(function() {

            $('#employees_table').DataTable( {
              "PaginationType": "bootstrap",
              "responsive": true,
              "bProcessing": true,
              "aaSorting": [[ 0, "asc" ]],
              "bServerSide": true,
              "sAjaxSource": "@routes.CEmployees.EmployeeList()",
              dom: '<"tbl-top clearfix"lfr>,t,<"tbl-footer clearfix"<"tbl-info pull-left"i><"tbl-pagin pull-right"p>>',
              "aoColumns": [
                { "mDataProp": "FullName" },
                { "mDataProp": "Email" },
                { "mDataProp": "IdNumber" },
                  { "mDataProp": "Department" },

                {
                  "mDataProp": null,
                  "mRender": function(obj) {
                    var sReturn = obj.aid;
                    var returnButton = "<a class='hidden-xs' href='/RenderEditEmployee?id="+sReturn+"' id='cedit' style='float: center'" +
                            "data-title="+sReturn+">  <button class='btn btn-primary btn-xs'><i class='fa fa-pencil'></i></button> </a>";
                    return  returnButton;
                  }

                },

                  {
                      "mDataProp": null,
                      "mRender": function(obj) {
                          var sReturn = obj.aid;
                          var status = obj.isActive;
                          if(status==1){
                              var returnButton = "<a class='hidden-xs' href='/deactivateEmployee?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+">  <button class='btn btn-danger btn-xs'>DEACTIVATE</button> </a>";
                              return  returnButton;
                          }
                          else if (status==0){
                              var activateButton = "<a class='hidden-xs'  href='/activateEmployee?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+"><button class='btn btn-success btn-xs'>ACTIVATE</button></a>";
                              return  activateButton;
                          }
                      }

                  },
              ]

            } );

          } );

  </script>

<!--body wrapper start-->
<div class="wrapper">

    <div class="row">
        <div class="col-sm-11">
            <section class="panel">
                <header class="panel-heading ">
                    Employees List

                    <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
              <a href="@routes.CEmployees.RenderAddEmployee()" class="btn btn-primary m-b-10">Add Employee</a>
            </span>
                </header>
                <table class="table responsive-data-table data-table" id="employees_table">
                    <thead>
                    <tr>
                        <th>
                            FullName
                        </th>

                        <th>
                            Email
                        </th>

                        <th>
                            IdNumber
                        </th>

                        <th>
                            Department
                        </th>

                        <th>
                            Edit Employees
                        </th>

                        <th>Act/Diactivate</th>

                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>

</div>

}