@(message: String,mVisitors: MVisitorRecords)

@main("Visitor details") {





    <style type="text/css">

    form {
        align-content: center;
        -moz-margin-start: 10%;

        text-align: left;

    }
        body{
            background-color: #f0f2f7;
        }
        button{
            width: 15%;
            margin-right: inherit;

        }



    </style>

@*<center><form method="post" class="panel" role="form" action="#">
    <div class="wrapper">*@
    <center>
    <form method="post" class="panel" role="form" action="@routes.CEmployees.AddEmployees()">
        <div class="wrapper">

            <div class="page-head">
                <h3 class="m-b-less">
                 <center>   View Details of the Visitor</center>
                </h3>
                <br>

                <br>

                <div class="form-group">
                    <label class="col-lg-2 col-md-3 control-label"> </label>


                    <img  src="data:image/png;base64, @mVisitors.Image" check-image
                    alt=""  >


                    <br>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 control-label">FullName</label>
                    <div class="col-lg-9 col-md-8">
                        <label class="col-lg-3 col-md-4 control-label">@mVisitors.FullName</label>
                    </div>
                    <br>

                    <br>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Email</label>
                        <div class="col-lg-9 col-md-8">
                            <label class="col-lg-3 col-md-4 control-label">@mVisitors.Email</label>                        </div>
                        <br>

                        <br>
                        <div class="form-group">
                            <label class="col-lg-2 col-md-3 control-label">Company</label>

                            <div class="col-lg-9 col-md-8">
                                <label class="col-lg-3 col-md-4 control-label">@mVisitors.Company</label>
                            </div>
                        </div>
                        <br>


                        <div class="form-group">
                            <label class="col-lg-2 col-md-3 control-label">National/passport Id</label>

                            <div class="col-lg-9 col-md-8">
                                <label class="col-lg-3 col-md-4 control-label">@mVisitors.NationalId</label>                            </div>
                            <br>

                            <br>
                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 control-label">Country</label>

                                <div class="col-lg-9 col-md-8">
                                    <label class="col-lg-3 col-md-4 control-label">@mVisitors.Country</label>
                                </div>
                                <br>



                        </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-md-3 control-label">No Of Visits </label>

                                <div class="col-lg-9 col-md-8">
                                    <label class="col-lg-3 col-md-4 control-label">@mVisitors.NoOfTimes</label>
                                </div>
                                <br>
                            </div>




                       <a id="link" onclick="location.href=this.href+'?key='+referrer;return false;"><button class="btn btn-primary ">   Back To List  </button> </a>


                            <script>
                                    var referrer =  document.referrer;
                                    var scrt_var = 10;
                                    document.getElementById("link").setAttribute("href",referrer);
                            </script>




                    </div>
                    </div>
                </div>
            </div></div>
    </form>
    </center>
}
