
@(message: String)


@main(message) {
<script type="text/javascript">
          $(document).ready(function() {

            $('#visitors_table').DataTable( {
              "PaginationType": "bootstrap",
              "responsive": true,
              "bProcessing": true,
              "aaSorting": [[ 0, "asc" ]],
              "bServerSide": true,
              "sAjaxSource": "@routes.CVisitors.VisitorsList()",
              dom: '<"tbl-top clearfix"lfr>,t,<"tbl-footer clearfix"<"tbl-info pull-left"i><"tbl-pagin pull-right"p>>',
              "aoColumns": [
                { "mDataProp": "FullName" },
                { "mDataProp": "NationalId" },
                { "mDataProp": "Company" },
                { "mDataProp": "Country" },
                 { "mDataProp": "Host" },
                { "mDataProp": "Type" },
                { "mDataProp": "Gender" },
                 { "mDataProp": "Language" },
                 { "mDataProp": "TimeIn" },
                 { "mDataProp": "TimeOut" },
                 { "mDataProp": "Date" },



                  {
                      "mDataProp": null,
                      "mRender": function(obj) {
                          var sReturn = obj.aid;
                          var returnButton = "<a class='hidden-xs' href='/RenderViewImage?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+"><button class='btn btn-primary btn-xs'><i class='fa fa-eye'> view details</i></button> </a>";
                          return  returnButton;
                      }
                  },

 /*{
                      "mDataProp": null,
                      "mRender": function(obj) {
                          var sReturn = obj.aid;
                          var status = obj.isActive;
                          if(status==1){
                              var returnButton = "<a class='hidden-xs' href='/deactivateVisitor?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+">  <button class='btn btn-danger btn-xs'>DEACTIVATE</button> </a>";
                              return  returnButton;
                          }
                          else if (status==0){
                              var activateButton = "<a class='hidden-xs'  href='/activateVisitor?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+"><button class='btn btn-success btn-xs'>ACTIVATE</button></a>";
                              return  activateButton;
                          }
                      }

                  },*/
              ]

            } );

          } );

  </script>

<!--body wrapper start-->
<div class="wrapper">

    <div class="row">
        <div class="col-sm-11">
            <section class="panel">
                <header class="panel-heading ">
                   Total Visitors List

                    <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
            </span>
                </header>
                <table class="table responsive-data-table data-table" id="visitors_table">
                    <thead>
                    <tr>
                        <th>
                            FullName
                        </th>

                        <th>
                            Id Number
                        </th>

                        <th>
                            Company
                        </th>

                        <th>
                            Country
                        </th>
                        <th>
                            Host
                        </th>

                        <th>
                            Visit Type
                        </th>

                        <th>
                            Gender
                        </th>

                        <th>
                            Language
                        </th>

                        <th>
                            Time In
                        </th>

                        <th>
                            Time Out
                        </th>

                        <th>
                            Date
                        </th>

                        <th>
                            Details with image
                        </th>

                        <!--<th>
                            Act/Diactivate
                        </th>-->

                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>
</div>

</div>
}