@(message: String)

@mainEmployee("Add Employees") {
    <script type="text/css">

        .import{


        }
    </script>
            <form method="post" class="panel" role="form" action="@routes.CEmployees.AddEmployees()">
                <div class="wrapper">

        <div class="page-head">
            <h3 class="m-b-less">
                Add Your Expected Visitor
            </h3>
            <br>

            <br>


                <br>

            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">FullName</label>
                <div class="col-lg-9 col-md-8">
                    <input type="text" class=" form-control" required rows="1" name="FullName" placeholder="Enter FullName" ></input>
                </div>
                <br>

                <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Email</label>
                <div class="col-lg-9 col-md-8">
                    <input type="text" class=" form-control" rows="1" name="Email" placeholder="Enter Email" ></input>
                </div>
                <br>

            <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">IdNumber</label>

                <div class="col-lg-9 col-md-8">
                    <input type="number" class=" form-control" rows="1" name="IdNumber" placeholder="Enter IdNumber" ></input>
                </div>
            </div>
                <br>

                <br>
                <div class="form-group">
                    <label class="col-lg-3 col-md-4 control-label">Date expected</label>

                    <div class="col-lg-9 col-md-8">
                        <input type="number" class=" form-control" required rows="1" name="EmploymentNumber" placeholder="Enter Date expected" ></input>
                    </div>
                    <br>

                    <br>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 control-label">Phone Number</label>

                        <div class="col-lg-9 col-md-8">
                            <input type="number" class=" form-control" required rows="1" name="PhoneNumber" placeholder="Enter Phonenumber" ></textarea>
                        </div>
                        <br>

                        <br>
                        <div class="form-group clearfix">
                <label class="col-lg-3 col-md-4 control-label">Country</label>
                            <div class="col-lg-9">
                            <select class="form-control  select2"  data-activates='dropdown1' name="Department" >
                            <option value="retail">Kenya</option>
                            <option value="imflp">Uganda</option>
                            <option value="Retail Support">Tanzania</option>
                            <option value="Qa">India</option>
                            <option value="iis">U.S</option>

                        </select>
                        <br>

                        <br>
            <p class="submit"><input  id="button" class="btn btn-primary m-b-10" type="submit" name="commit" value="Add">
                <a class="btn btn-danger m-b-10" href="@routes.CEmployees.RenderViewEmployee()">Cancel</a> </div>
                            </div>
             </div>
            </div>
        </div>
            </div></div></div>

</form>
}
