@(message: String)

@main("Add User") {
<form method="post" class="panel" role="form" action="@routes.CUsers.AddUser()">
    <div class="wrapper">

        <div class="page-head">
            <h3 class="m-b-less">
                Add Users
            </h3>
                <br>
            <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">UserName</label>
                <div class="col-lg-9 col-md-8">
                    <input type="text" id="username" class=" form-control" required rows="1" name="UserName" placeholder="Enter UserName" ></input>
                </div>
                <br>

                <br>
                <div class="form-group">
                    <label class="col-lg-3 col-md-4 control-label">Email</label>
                    <div class="col-lg-9 col-md-8">
                        <input type="text" class=" form-control" rows="1" name="Email" placeholder="Enter Email" ></input>
                    </div>
                    <br>

                    <br>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-4 control-label">EmploymentNumber</label>
                        <div class="col-lg-9 col-md-8">
                            <input type="number" class=" form-control" required rows="1" name="EmploymentNumber" placeholder="Enter EmploymentNumber" ></input>
                        </div>
                    <br>

                    <br>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-4 control-label">Password</label>
                            <div class="col-lg-9 col-md-8">
                                <input id = "password" type="password" class=" form-control" required rows="1" name="Password" placeholder="Enter Password" ></input>
                            </div>
                            <br>

                            <br>
                            <div class="form-group">
                                <label class="col-lg-3 col-md-4 control-label">ConfirmPassword</label>

                                <div class="col-lg-9 col-md-8">
                                    <input id = "ConfirmPassword" type="password" class=" form-control" required rows="1" name="ConfirmPassword" placeholder="Enter ConfirmPassword" ></input>
                                </div>
                                <br>
                                <br>

                                <div class="form-group clearfix">
                                        <label class="col-lg-3 col-md-4 control-label">Select user type:</label>
                                        <div class="col-lg-9">
                                            <select class="form-control  select2"  data-activates='dropdown1' name="UserType" >
                                                <option value="mobile">MOBILE</option>
                                                <option value="web">WEB</option>

                                            </select>
                                        </div>


                                    <br>

                                <br>
                                <p class="submit"><input  id="button" class="btn btn-primary m-b-10" type="submit" name="commit" value="CREATE">
                                    <a class="btn btn-danger m-b-10" href="@routes.CUsers.RenderViewUsers()">Cancel</a></p> </div>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
                </div>
            </div>

</form>
}
