@(message: String,mqr: MQR)

@main("Qr details") {





    <style type="text/css">

    #qr{
        display:flex;
        justify-content:center;
        align-items:center;
        height:100%;
    }
        button{
            width: 15%;
            margin-right: inherit;

        }



    </style>


    <script type="text/javascript">

            function printPageArea(areaID){
                var printContent = document.getElementById(areaID);
                var WinPrint = window.open('', '', 'width=900,height=650');
                WinPrint.document.write(printContent.innerHTML);
                WinPrint.document.close();
                if (navigator.userAgent.toLowerCase().indexOf('chrome') > -1) {
                    var showPopup = false;
                    window.onbeforeunload = function () {
                        if (showPopup) {
                            return 'You must use the Cancel button to close the Print Preview window.\n';
                        } else {
                            showPopup = true;
                        }
                    }
                    WinPrint.focus();
                    WinPrint.print();
                    WinPrint.close();
                } else {
                    WinPrint.focus();
                    WinPrint.print();
                    WinPrint.close();
                }







            }

    </script>





@*<center><form method="post" class="panel" role="form" action="#">
    <div class="wrapper">*@
    <center>

        @*<form method="post" class="panel" role="form" action="#">*@
        <div class="wrapper">
            <section class="panel">

                <h3 class="m-b-less">
                 <center>   View Qr code</center>
                </h3>

                <br>

                <br>

                <div class="form-group" id="qr">



                    <img align="center" src="data:image/png;base64, @mqr.QrImage" check-image
                    alt=""  >


                    <br>
                </div>


                    <br>



                       <a id="link"  onclick="location.href=this.href+'?key='+referrer;return false;"><button  class="btn btn-primary fa fa-list-ol">   Back To List  </button> </a>
                &nbsp;
                    &nbsp;
                    &nbsp;

                    <button class="btn btn-primary fa fa-print " onclick="printPageArea('qr')" >Print Qr Codes</button>

            <br>
                <br>
                            <script>
                                    var referrer =  document.referrer;
                                    var scrt_var = 10;
                                    document.getElementById("link").setAttribute("href",referrer);
                            </script>


</section>

                    </div>




   @* </form>*@
    </center>
}
