@(message: String)

@main("Add Card") {
<form method="post" class="panel" role="form" action="@routes.CCards.AddCard()">
    <div class="wrapper">

        <div class="page-head">
            <h3 class="m-b-less">
                Add Cards
            </h3>
                <br>
            <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Card Number</label>
                <div class="col-lg-9 col-md-8">
                    <input type="text" id="cardNumber" class=" form-control" required rows="1" name="cardNumber" placeholder="Enter card Number" ></input>
                </div>

                                    <br>

                                <br>
                                <p class="submit"><input  id="button" class="btn btn-primary m-b-10" type="submit" name="commit" value="CREATE">
                                    <a class="btn btn-danger m-b-10" href="@routes.CCards.RenderViewCard()">Cancel</a></p> </div>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
                </div>
            </div>

</form>
}
