
@(message: String)


@main("View cards") {
<script type="text/javascript">
          $(document).ready(function() {

            $('#users_table').DataTable( {
              "PaginationType": "bootstrap",
              "responsive": true,
              "bProcessing": true,
              "aaSorting": [[ 0, "asc" ]],
              "bServerSide": true,
              "sAjaxSource": "@routes.CCards.cardList()",
              dom: '<"tbl-top clearfix"lfr>,t,<"tbl-footer clearfix"<"tbl-info pull-left"i><"tbl-pagin pull-right"p>>',
              "aoColumns": [
                { "mDataProp": "cardNumber" },

                { "mDataProp": "assigned" },



                  {
                      "mDataProp": null,
                      "mRender": function(obj) {
                          var sReturn = obj.aid;
                          var status = obj.admin_activated;
                          if(status==1){
                              var returnButton = "<a class='hidden-xs' href='/DeActivateCard?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+">  <button class='btn btn-danger btn-xs'>DEACTIVATE</button> </a>";
                              return  returnButton;
                          }
                          else if (status==0){
                              var activateButton = "<a class='hidden-xs'  href='/ActivateCard?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+"><button class='btn btn-success btn-xs'>ACTIVATE</button></a>";
                              return  activateButton;
                          }
                      }

                  },
              ]

            } );

          } );

  </script>

<!--body wrapper start-->
<div class="wrapper">

    <div class="row">
        <div class="col-sm-11">
            <section class="panel">
                <header class="panel-heading ">
                    Users List

                    <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
              <a href="@routes.CCards.RenderAddCard()" class="btn btn-primary m-b-10">Add cards</a>
            </span>
                </header>
                <table class="table responsive-data-table data-table" id="users_table">
                    <thead>
                    <tr>
                        <th>
                            Card number
                        </th>
                        <th>
                            Assigned
                        </th>


                        <th>Activate/Diactivate</th>

                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>

</div>

}